In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
###Import Data

In [3]:
###Folder path
path = r'C:\Users\smrit\Intracart basket'

In [4]:
###Import product.csv
df_prods = pd.read_csv(os.path.join(path, 'Original', 'Products.csv'), index_col = False)

In [5]:
# Import orders_wrangled.csv: 
df_ords = pd.read_csv(os.path.join(path, 'Prepared', 'Ordered_Wrangled.csv'))

In [6]:
### Consistency Check

In [7]:
###Mixed Data Types

In [10]:
###Create a test dataframe
df_test=pd.DataFrame()

In [ ]:
###Create a Mixed Datatype

In [11]:
df_test['mix'] = 'a','b', 1, 'True'

In [12]:

# Re-check for mixed data types:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col, ' mixed')
  else: print(col, ' consistent')

mix  mixed

In [15]:
# Count the missing vailes in each col:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [16]:
# Missing Values list: 
df_nanprods = df_prods[df_prods.product_name.isnull() == True]

In [17]:
# Create df without nan values:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [18]:
df_prods_clean.shape

(49677, 5)

In [19]:
# Create duplicates df:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [20]:
# Creat dropped dups list 
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [21]:
df_prods_clean_no_dups.shape

(49672, 5)

In [22]:
# Export changes df:
df_prods_clean_no_dups.to_csv(os.path.join(path,'Prepared', 'products_checked.csv'))

In [24]:
###DATA CONSISTENCY CHECKS
# Step 2. Run the df.describe() function on your df_ords dataframe:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [25]:
###Question 2: Min value = 1.000000, Max value 99999.000000, perhaps this could been a error.

In [26]:
df_prods[df_prods.prices == 99999]

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

In [27]:
# Step 3. Check for mixed-type data in your df_ords dataframe:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
        print (col, ' mixed')
  else: print(col, ' consistent')

Unnamed: 0  consistent
order_id  consistent
user_id  consistent
eval_set  consistent
order_number  consistent
order_dow  consistent
order_hour_of_day  consistent
days_since_prior_order  consistent

In [28]:
# Step 4. If you find mixed-type data, fix it:

In [29]:
###The column in question should contain observations of a single data type: No mixed-type data found.
# Step 5. Run a check for missing values in your df_ords dataframe:
df_ords.isnull().sum()

Unnamed: 0                    0
order_id                      0
user_id                       0
eval_set                      0
order_number                  0
order_dow                     0
order_hour_of_day             0
days_since_prior_order    63100
dtype: int64

In [30]:
df_ords.head(20)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0
5,5,3367565,1,prior,6,2,7,19.0
6,6,550135,1,prior,7,1,9,20.0
7,7,3108588,1,prior,8,1,14,14.0
8,8,2295261,1,prior,9,1,16,0.0
9,9,2550362,1,prior,10,4,8,30.0
10,10,1187899,1,train,11,4,8,14.0
11,11,2168274,2,prior,1,2,11,NaN
12,12,1501582,2,prior,2,5,10,10.0
13,13,1901567,2,prior,3,1,10,3.0
14,14,738281,2,prior,4,2,10,8.0
15,15,1673511,2,prior,5,3,11,8.0
16,16,1199898,2,prior,6,2,9,13.0
17,17,3194192,2,prior,7,2,12,14.0
18,18,788338,2,prior,8,1,15,27.0
19,19,1718559,2,prior,9,2,9,8.0

In [31]:
df_ords['user_id'] = df_ords['user_id'].astype('int64')
df_ords.user_id.max()

63100

In [32]:
# create a dataframe for the missing values
df_ords_nan = df_ords [df_ords ['days_since_prior_order'].isnull () == True]

In [33]:
df_ords_nan

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
11,11,2168274,2,prior,1,2,11,NaN
26,26,1374495,3,prior,1,1,14,NaN
39,39,3343014,4,prior,1,6,11,NaN
45,45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...,...
1048523,1048523,1591766,63096,prior,1,0,20,NaN
1048530,1048530,3391694,63097,prior,1,2,14,NaN
1048541,1048541,1270497,63098,prior,1,3,16,NaN
1048556,1048556,1877750,63099,prior,1,0,10,NaN
1048570,1048570,1805240,63100,prior,1,0,11,NaN

In [34]:

###The reason for the missing value is perhaps because the majority of customers are first-time clients who have never placed an order before. In addition, there won't be a value indicating how long it has been since a prior order. The maximum value in the column 'user_id' is 206209, which corresponds with the number of missing values in the column 'days_since_prior_order" that represents one for each new customer.

In [35]:
# Step 6. Address the missing values using an appropriate method:

In [36]:
###I’ve chosen to make no changes. This is because I believe that it isn’t reasonable to assign values or remove or filter the data. Statistics may still be analyzed with the NaN values present. A value of "1’ in the column 'order_number' can represent new customers.

In [37]:
# Step 7. Run a check for duplicate values in your df_ords data: 
df_ords_dups = df_ords[df_ords.duplicated()]

In [38]:
df_ords_dups.size

0

In [39]:
###No duplicates found

In [40]:
# Step 8. Address the duplicates using an appropriate method:

In [41]:

###I’ve chosen to make no changes, following step 6 action.

In [43]:
# Step 9. Export changes: 
df_ords.to_csv(os.path.join(path,'Prepared', 'orders_checked.csv'))