In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path= r'C:\Users\smrit\Intracart basket'

In [4]:
# Importing 'orders_products_merged.pkl' via pandas.pkl and os.path.join
df_orders_products_merged= pd.read_pickle(os.path.join(path,'Prepared', 'orders_products_merged.pkl'))

In [5]:

###Task 4.7
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,true
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [6]:
# Creating a subset
df=df_orders_products_merged[:1000000]

In [7]:
# Defining a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
###Applying the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\smrit\AppData\Local\Temp\ipykernel_16516\4018128498.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,true,price_range
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product

In [10]:
df['price_range'].value_counts(dropna = 'false')

Mid-range product    666122
Low-range product    333878
Name: price_range, dtype: int64

In [11]:
df['prices'].max()

14.8

In [12]:
####If-Statements with the loc() Function

In [13]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     6690367
Low-range product     3100143
High-range product     127743
Name: price_range_loc, dtype: int64

In [17]:
### If-Statements with For-Loops
df_orders_products_merged['order_dow'].value_counts(dropna = False)

0    1894196
1    1729956
6    1382396
5    1291406
2    1286645
3    1176810
4    1156844
Name: order_dow, dtype: int64

In [18]:
result = []

In [19]:
for value in df_orders_products_merged['order_dow']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [20]:
df_orders_products_merged['busiest_day'] = result

In [21]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    6867213
Busiest day       1894196
Least busy        1156844
Name: busiest_day, dtype: int64

In [22]:
df_orders_products_merged.shape

(9918253, 20)

In [23]:
###Q2
df_orders_products_merged['order_dow'].value_counts(dropna = False)

0    1894196
1    1729956
6    1382396
5    1291406
2    1286645
3    1176810
4    1156844
Name: order_dow, dtype: int64

In [24]:
# Creating the vector where the outputs from the loop will be stored
result2 = []

In [25]:
# Creating the loop
for value in df_orders_products_merged['order_dow']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [26]:
# Create a new column in 'df_orders_products_merged' named busiest_days
df_orders_products_merged['busiest_days'] = result2

In [27]:
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,...,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,true,price_range_loc,busiest_day,busiest_days
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,2,2,473747,1,prior,3,3,12,21.0,196,...,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,4,4,431534,1,prior,5,4,15,28.0,196,...,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [28]:
###Q3
# Checking value counts
df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly days    3960447
Busiest days      3624152
Slowest days      2333654
Name: busiest_days, dtype: int64

In [29]:
df_orders_products_merged.shape

(9918253, 21)

In [30]:
#Q4 Creating a dataframe with the count of values for the column 'order_hour_of_day'
counts = df_orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [47]:
counts

    hour  counts
0     10  847433
1     11  834539
2     14  824237
3     13  819415
4     15  811711
5     12  806657
6     16  772746
7      9  749590
8     17  636644
9      8  530095
10    18  500081
11    19  384715
12    20  296474
13     7  275188
14    21  246002
15    22  194143
16    23  121172
17     6   87668
18     0   66104
19     1   34377
20     5   26379
21     2   20972
22     4   16846
23     3   15065

In [48]:
# Creating a list showing the percentiles for the value counts of the column 'order_hour_of_day'
orders = list(df_orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [49]:
orders

[82277.0, 340594.5, 781223.75]

In [50]:
###Grouping into Most orders, Average orders and Fewest orders, according to percentiles
###Lists: I created thre lists for the three different labels: “Most orders,” “Average orders,” and “Fewest orders"

In [51]:
# Fewest orders list
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [52]:
# Average orders list
avg_ords = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [53]:
# Most orders list
Mos_ords = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

In [54]:
###Index: I created three indexs for the three different labels: “Most orders,” “Average orders,” and “Fewest orders"

In [55]:
index_few = df_orders_products_merged['order_hour_of_day'].isin(few)

In [56]:
index_avg_ords = df_orders_products_merged['order_hour_of_day'].isin(avg_ords)

In [57]:
index_Mos_ords = df_orders_products_merged['order_hour_of_day'].isin(Mos_ords)

In [58]:
###Create a new column containing these labels called “busiest_period_of_day.”¶

In [59]:
df_orders_products_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [60]:
df_orders_products_merged.loc[index_avg_ords,'busiest_period_of_day'] = 'Average orders'

In [61]:
df_orders_products_merged.loc[index_Mos_ords,'busiest_period_of_day'] = 'Most orders'

In [62]:
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,true,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,2,473747,1,prior,3,3,12,21.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,4,431534,1,prior,5,4,15,28.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [63]:
df_orders_products_merged.shape

(9918253, 22)

In [64]:
### Q5 Print the frequency for this new column.

In [65]:
df_orders_products_merged['busiest_period_of_day'].value_counts()

Most orders       4943992
Average orders    4794518
Fewest orders      179743
Name: busiest_period_of_day, dtype: int64

In [67]:
###Q7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [68]:
# Export to PKL
df_orders_products_merged.to_pickle(os.path.join(path,'Prepared', 'orders_products_merged_update.pkl'))